{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"printWidth": 108,
	"proseWrap": "always",
	"semi": false,
	"singleQuote": false,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": true
}
